<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Knight Wallet</title>

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
  @if(page.props.layout)
    @vite([`inertia/pages/${page.props.layout}`])
  @else
    @vite(['inertia/pages/layouts/app.vue'])
  @endif
  @inertiaHead()
  @stack('dumper')
</head>

<body>
  @inertia()
</body>

</html>
