@import "tailwindcss";

html, body {
  color: var(--color-text);
  background-color: var(--color-background);
}

.card {
  background-color: white;
  color: var(--color-text);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

@theme {
  --color-text: #1b0e0e;
  --color-secondary-text: #3f3f46;
  --color-background: #faf5f5;
  --color-primary: #752936;
  --color-secondary: #cc8585;
  --color-accent: #a6413f;
}

@layer theme {
  :root, :host {
    @variant dark {
      --color-text: #f1e4e4;
      --color-background: #0a0505;
      --color-primary: #d68a97;
      --color-secondary: #7a3333;
      --color-accent: #c05a59;
    }
  }
}
